.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

#container {
    margin-top: 50px;
    width: 80vw;
    height: 80vh;
    margin-bottom: 50px;
}

/* bootstrap class row and col */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    border-radius: 3px;
    height: 20vh;
    margin: 20px;
    font-size: 25px;
    background-color: #a7a7a7;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    transition: box-shadow 0.2s;
}
/* add box-shadow that change on click */
.btn:active {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}